{% extends 'layout.html.twig' %}

{% block title %}Sign in!{% endblock %}

{% block page_content %}
<form method="post" class="card mx-auto mt-5 mb-3 shadow-sm" style="width: 28rem;">
    <header class="card-header text-center">
        <h1 class="card-title">Sign In</h1>
        <h5 class="card-subtitle text-muted">and let's clean your backlog! Yay 🤩️</h5>
    </header>
    <section class="card-body">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
            <div class="alert alert-warning">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email Address</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <span id="emailHelp" class="form-text">We'll never share your email with anyone else.</span>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" name="_remember_me" id="inputRememberMe" class="form-check-input" checked>
            <label class="form-check-label" for="inputRememberMe">Remember me</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="d-grid">
            <button class="btn btn-lg btn-primary" type="submit">
                Sign in <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
            </button>
        </div>
    </section>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    #}


</form>

<aside class="text-center">
    <a href="{{ path('app_register') }}">Create an account</a> to start cleaning your backlog!
</aside>
{% endblock %}
